<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">

<title>Folders View</title>
</head>
<body>
	<h1 class="text-center title">Folders List</h1>
	<br />
	<br />

	<div class="container">
		<div class="row" th:if="${not folders.isEmpty()}">
			<div class="container col-md-6">
				<div class="card border-primary">
					<div class="card-header text-center">
						<h4>Folders List</h4>
					</div>
					<div class="card-body">
						<table>
							<tr class="text-center">
								<td>Folder Name</td>
								<td>Actions</td>
							</tr>
							<tr th:each="fold: ${folders}">
								<td th:text="${fold.name}"></td>
								<td><a th:href="@{/items/} + ${fold.id}"
									class="btn btn-success">See Folder</a> <a
									th:href="@{/folders/edit/} + ${fold.id}"
									class="btn btn-warning">Edit</a> <a
									th:href="@{/folders/delete/} + ${fold.id}"
									class="btn btn-danger">Delete</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<div class="card border-primary">
					<div class="card-header">
						<label class="text-center">New Folder</label>
					</div>
					<div class="card-body">
						<form th:action="@{/folders}" th:object="${folder}" method="post">
							<br /> <label>New Folder </label><br /> <input type="hidden"
								th:field="*{id}" /> <input type="text" th:field="*{name}" /> <br />
							<br />
							<div class="container col-md-6">
								<input type="submit" class="btn btn-success" value="Add Folder">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>