<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<title>Register</title>
</head>
<body>
<h1>Register New User</h1>
<br/>
<br/>
<form th:action="@{/register}" th:object="${user}" method="post">
<input type="hidden" th:field="*{id}"/>
User Name <br/>
<input type="email" th:field="*{username}"/>
<br/>
<!-- E-mail <br/>
<input type="text" th:field="*{email}"/>
<br/> -->
Password <br/>
<input type="password" th:field="*{password}"/>
<br/>
<br/>
<input type="submit" value="Register"/> <a class="btn" href="/index">Log In</a>
</form>
</body>
</html>